<a href="https://colab.research.google.com/github/mfelippe/Data-Science-With-Python/blob/main/Date_With_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:

import numpy as np
import pandas as pd
from google.colab import drive #acesso ao google drive para ler os arquivos csv
drive.mount('/content/drive')
import matplotlib.pyplot as plt

Mounted at /content/drive

In [59]:
#importando arquivo para ser analisado
patch='/content/drive/MyDrive/Colab Notebooks/dats/dat_arteonz_16_05_2021.csv' #endereço do arquivo no google drive
data_z = pd.read_csv(patch, sep=',')

ParserError: ignored

In [51]:
data_z.head()

  "id","id_projeto","id_user","setor","nome_fornecedor","valor","nota_fiscal","descricao","data_pagamento","nome_documento","centro_custo","origem_documento","anexo","anexo2","data_hora","item_capex";;;;
0  74,"1","2","20","CLAUDIA CECILIA SILVA DO NASC...
1  149,"1","5","20","MUNDO ELETRICO","1.249,97",N...
2  13,"1","5","20","GERDAU","2021,33",NULL,"NF 67...
3  244,"1","5","20","JS VALENTE","2.607,80",NULL,...
4  245,"1","5","20","JS VALENTE","16.168,35",NULL...